{% extends "base.html" %} {% block title%} Submit Application {% endblock %} {%
block content%}
<div class="bursaries__wrapper">
  <p class="page__title">Apply For This Financial Aid</p>
  <div class="bursary__grid">
    <p class="bursary__title">Financial Aid Reference</p>
    <p class="bursary__value">: <b>#</b>{{bursary.reference_number}}</p>
  </div>
  <div class="bursary__application__wrapper">
    <form
      method="post"
      action="/submit-application/{{bursary.reference_number}}"
    >
      <input type="hidden" name="ref" value="{{bursary.reference_number}}" />

      <div class="form__group">
        <label for="cover-letter"
          >Cover Letter <span class="required">*</span></label
        >
        <textarea
          name="cover_letter"
          required
          id="cover-letter"
          placeholder="Write a cover letter and tell us why we should consider you."
        ></textarea>
      </div>
      <div class="form__group">
        <button type="submit" class="btn__custom btn__success">
          Submit Application <i class="fa fa-check-circle btn__icon__right"></i>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
